<!-- Located in:  In squarespace -> Collaboration Profile - > settings -> advance -->
<style>
#header {
    display: none
}

#footer {
    display: none
}

#preFooter {
    display: none
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js">
</script>
<script src="https://www.gstatic.com/firebasejs/3.7.1/firebase.js"></script>
<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyDplsTlpTuCS-MBQggxOf0iNloTP-OBOIE"></script>

<link rel="stylesheet" type="text/css" href="dest/css/chosen.css">
<link rel="stylesheet" type="text/css" href="dest/css/atlas.css">

<div id="header">
    <table id="tophead" class="content">
        <tr>
            <th id="publication_header">Publication Name</th>
            <th id="category_header">Publication Category</th>
            <th id="date_header">Date Published</th>
            <th id="topic_header">Topic</th>
        </tr>
    </table>
</div>

<div id="atlas">
    <div id="options">
        <p>Filters</p>
        <p id='row-count'></p>
    </div>
    <table id="orgs">
        <thead></thead>
        <tbody id="table-body">
        </tbody>
    </table>
</div>
<!-- JAVASCRIPT -->
<script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="dest/js/chosen.jquery.js"></script>
<script src="dest/js/atlas.min.js?"></script>
<script src="dest/js/tablesort-min.js"></script>
